/* Basier Circle */

@font-face {
  font-family: 'Basier Circle Regular';
  src: url('fonts/BasierCircle-Regular.woff2') format('woff2'),
       url('fonts/BasierCircle-Regular.woff') format('woff');
}

@font-face {
  font-family: 'Basier Circle Medium';
  src: url('fonts/BasierCircle-Medium.woff2') format('woff2'),
       url('fonts/BasierCircle-Medium.woff') format('woff');
}

@font-face {
  font-family: 'Basier Circle Semibold';
  src: url('fonts/BasierCircle-SemiBold.woff2') format('woff2'),
       url('fonts/BasierCircle-SemiBold.woff') format('woff');
}


/* GT Walsheim Pro */

@font-face {
  font-family: 'GT Walsheim Pro Medium';
  src: url('fonts/GTWalsheimPro-Medium.woff2') format('woff2'),
       url('fonts/GTWalsheimPro-Medium.woff') format('woff');
}

@font-face {
  font-family: 'GT Walsheim Pro Bold';
  src: url('fonts/GTWalsheimPro-Bold.woff2') format('woff2'),
       url('fonts/GTWalsheimPro-Bold.woff') format('woff');
}
